.auth-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
