body,
html,
#root {
  width: 100%;
  height: 100%;
  background-color: rgb(240, 240, 240);
}

.app-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 90%;
  margin: auto;
  height: 100%;
  padding-top: 2rem;
  background-color: rgb(212, 212, 212);
}
